@page
@model MOYO_Website.Pages.CreateScheduleModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>MOYO-Mind, Body and Soul</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>
<body>

</body>
</html>