@page
@model MOYO_Website.Pages.WelcomePageModel
@{
    ViewData[""] = "MOYO: body, mind, and fun ";
}
<!DOCTYPE html>
<html>
<head>
    <title>MOYO-Mind, Body and Soul</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/welcomepage.css">
    <style>
        body {
            background-color: burlywood;
        }
        .p1 {
            font-family: "Lucida Handwriting", sans-serif;
            font-size: 1.0em;
            /*border-bottom: 2px solid brown;*/
           /* border-right: 2px solid brown;*/
            width: 1500px;
            text-align: center;
          /*  -moz-box-shadow: 4px 4px 5px #fcfafa;
            -ms-box-shawdow: 4px 4px 5px #fcfafa;
            -webkit-box-shadow: 4px 4px 5px #fcfafa;
            -o-box-shadow: 4px 4px 5px #fcfafa;
            box-shadow: 4px 4px 5px #fcfafa;*/
            margin-top: 10px;
        }
    </style>
</head>
<body>
   
    <div class="container">
        <img src="~/images/Yoga Drawing 3.jpg"    style="float: left"  width="600" height="700">
        <p class="p1" style="text-align:right">
            MOYO (Moving On Your Own) is a program that has been created knowing that YOU are your guide to your own body. As your guide through practice, Safiya (that’s me!) will provide you with
            the support you request with extreme attention to what your body is asking for. I have called this practice MOYO for the fact that moyo in Swahili means heart, that the term yoga. I want people to truly connect with themselves through the practices that I guide.

            Please download the intake form to be completed prior to starting the MOYO program And email the form back to me.
        </p>
    </div>
    
       
    
</body>
</html>

